{% extends 'main/base.html' %}

{% block title %}About - My Website{% endblock %}

{% block content %}
<section class="vision-container">
    <div class="vision">
        <h2>Vision:</h2>
        <p>Our vision is to inspire and unite people worldwide through the universal language of visual art. We strive to push the boundaries of photography to create emotional connections, raise awareness, and tell compelling stories. Each frame captures the essence of a moment in someone's life, a natural wonder, or a cultural heritage, reflecting the value of these experiences. We are here to deeply understand and share the meaning of these values.</p>
    </div>
</section>

<section class="mission-container">
    <div class="mission">
        <h2>Mission:</h2>
        <p>Our mission is to celebrate diversity, beauty, and resilience through our photography. We aim to explore the world, capturing its wonders and complexities, while fostering empathy, understanding, and appreciation for different cultures, landscapes, and human experiences. Through our lens, we seek to evoke emotions, spark dialogue, and inspire positive change in the world.</p>
    </div>
</section>

<section class="sofia">
    <img src="https://i.pinimg.com/736x/4b/5a/7c/4b5a7c9baa0c4f1244fd51fe07f420b0.jpg" alt=sofia>
    <p>Sofia Parazi is an LA based photographer, cinematographer and art director. Her juxtaposition between light and shadow punctuates her signature style. Sofia believes photos are metaphors, making the abstract concrete and mystifying the mundane.</p>
{% endblock %}
