{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


</head>
<body>
    <header>
        <div class="brand">
            <h1>
                RESEDA PHOTOGRAPHY
                </h1>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="sidebar">
                {% block sidebar %}
                 
                {% endblock %}
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>
