
{% extends 'main/base.html' %}

{% block title %}Home - My Website{% endblock %}

{% block content %}
<section class="RESEDA" style="position: relative;">
    <h1>RESEDA</h1>
    <img src="https://i.pinimg.com/736x/a8/88/3e/a8883ec847c19404951796fc29660f7d.jpg" alt=RESEDA>
    <img src="https://i.pinimg.com/736x/18/5c/1e/185c1e54045ceec0ae9ae5d05e0650fd.jpg" alt=RESEDA>
    <img src="https://i.pinimg.com/736x/3f/e7/5b/3fe75b628a7e7c7d01a41ba2a524497d.jpg" alt=RESEDA>
    <img src="https://i.pinimg.com/736x/0d/33/88/0d3388a2e11ec24a8dce062e9c490f19.jpg" alt=RESEDA>
    <img src="https://i.pinimg.com/736x/d5/51/52/d55152876452c659ea86671da15e074d.jpg" alt=RESEDA>
    <img src="https://i.pinimg.com/736x/01/c3/38/01c3384b2a5e3dc55c145c201a83ee1d.jpg" alt=RESEDA>
    <img src="https://i.pinimg.com/736x/7c/6c/64/7c6c64badf6629a58d1c37a1b5cdafd1.jpg" alt=RESEDA>

   
   
</section>
{% endblock %}


